{% extends "base.html" %}
{% block title %}Select a Function{% endblock %}
{% block content %}
<h1 class="d-flex justify-content-center align-items-center" style="padding-top: 30vh;">Select a Trigonometric Function</h1>
<div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-outline-info btn-lg px-4" href="/calculators/trigonometry/sin">Sine</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-info btn-lg px-4" href="/calculators/trigonometry/cos">Cosine</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-info btn-lg px-4" href="/calculators/trigonometry/tan">Tangent</a>
        </div>
    </div>
</div>
<a style="padding-left: 3cm;" href="https://en.wikipedia.org/wiki/Trigonometric_functions">Learn What This Calculator Does</a>
{% endblock %}